@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    /* background gradient color*/
    --primary:hsla(245, 97%, 63%, 0.3);
    --secondary:hsla(30, 96%, 62%, 0.3);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    /* background-color:#212529; */
    color: white;
    background: linear-gradient(135DEG,VAR(--primary),var(--secondary)) fixed,
    url(./BACKGROUND-IMAGES/Background.png) fixed ;
}

/* header heading section */
#heading {
    margin-top: 150px;
}


/* header navbar */
#nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* offcanvus */
#offcanvasNavbar{
    background-color: rgba(131, 9, 9, 0.5);
}
/* favourites offcanvus */
#favourites-body{
    background-color:rgba(50, 10, 73, 0.4) ;    
}
/* header search bar section */
#search-bar {
    max-width: 600px;
}

#search-bar input {
    height: 50px;
    border-radius: 20px;
}
.sticky {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 5%;
    z-index: 99;
}

/* meal card */
.card{
    max-height:35rem;
    width: 20rem;
    margin-bottom: 20px;
    /* for round edges(value given) */
    border-radius: 10px;
    overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    /* for greyscale */
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}
/* when hover images will be colored */
.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.5s;
}

.card:hover img{
    filter: grayscale(0%);
}

.card-body {
    color: #212529;
}
/* Mode Details button */
.btn-pink{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
}
.btn-pink::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
}
.btn-pink:hover:before{
    transform: scaleX(1);
}
.btn-pink:hover {
    color: #fff;
}
.btn{
    height: 100%;
}

/* meal details container */
#meal-details{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}
#meal-header{
    width: 70%;
    margin: auto;
}
#meal-thumbnail img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
#meal-instruction{
    margin: auto;
    text-align: center;
}

/* For smaller screen */
@media (max-width: 300px) {
    /* :root {
        --head: 1.3rem;
        --text: 0.9rem;
    } */

    .card {
        margin: 1em;
        max-width: 200px;
    }

    .btn-pink {
        font-size: 15px;
        padding: 0.6em 0;
    }
    #search-bar {
        max-width: 100%;
    }
}

/* For PC & HD+ screen */
@media (min-width: 600px) {
    .card {
        /* display: flex; */
        max-width: 700px;
    }
    #search-bar {
        max-width: 500px;
    }
}